:root {
    --bond-red: #D50032;
    --bond-medium-red: #B6002D;
    --bond-darker-red: #A20026;
    --bond-dark-red: #8A0026;
    --bond-darkest-red: #560014;
    --bond-white: #F5F5F0;
    --bond-grey: #D2D0C8;
    --bond-mid-grey: #989482;
    --bond-dark-grey: #37322D;
    --bond-yellow: #FFEE5F;
    --bond-blue: #00C8D2;
    --bond-green: #8EE1AA;
    --bond-pink: #D78AAF;
    --bond-dark-yellow: #FFB400;
    --bond-dark-blue: #00648C;
    --bond-dark-green: #326466;
    --bond-dark-pink: #7D004B;
    --bond-font: 'DINNextRounded', Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--bond-font);
    font-weight: 400;
    line-height: 1.5;
}
.bond-font {
    font-family: var(--bond-font);
}
.bg-bond-red {
    background-color: var(--bond-red);
}
.bg-bond-dark-red {
    background-color: var(--bond-dark-red);
}
.bg-bond-darkest-red {
    background-color: var(--bond-darkest-red);
}
.bg-bond-grey {
    background-color: var(--bond-grey);
}
.bg-bond-dark-grey {
    background-color: var(--bond-dark-grey);
}
.bg-bond-white {
    background-color: var(--bond-white);
}
.border-bond-red {
    border-color: var(--bond-red);
}
.border-bond-dark-red {
    border-color: var(--bond-dark-red);
}
.border-bond-darkest-red {
    border-color: var(--bond-darkest-red);
}
.border-bond-grey {
    border-color: var(--bond-grey);
}
.border-bond-white {
    border-color: var(--bond-white);
}
.fill-bond-red {
    fill: var(--bond-red);
}
.fill-bond-white {
    fill: var(--bond-white);
}
.fill-bond-mid-grey {
    fill: var(--bond-mid-grey);
}
.fill-bond-dark-red {
    fill: var(--bond-dark-red);
}
.fill-bond-darkest-red {
    fill: var(--bond-darkest-red);
}
.fill-bond-grey {
    fill: var(--bond-grey);
}
.stroke-bond-red {
    stroke: var(--bond-red);
}
.stroke-bond-white {
    stroke: var(--bond-white);
}
.stroke-bond-mid-grey {
    stroke: var(--bond-mid-grey);
}
.stroke-bond-dark-red {
    stroke: var(--bond-dark-red);
}
.stroke-bond-darkest-red {
    stroke: var(--bond-darkest-red);
}
.stroke-bond-grey {
    stroke: var(--bond-grey);
}
.bond-red {
    color: var(--bond-red);
}
.bond-dark-red {
    color: var(--bond-dark-red);
}
.bond-grey {
    color: var(--bond-grey);
}
.bond-dark-grey {
    color: var(--bond-dark-grey);
}
.bond-mid-grey {
    color: var(--bond-mid-grey);
}
.bond-darkest-red {
    color: var(--bond-darkest-red);
}
.bond-dark-blue {
    color: var(--bond-dark-blue);
}

/* select boxes */
.multiselect.bg-bond-grey div.multiselect-search > input {
    background-color: var(--bond-grey);
}
#multiselect .multiselect-tag {
    font-size: 1.1rem;
    background-color: var(--bond-darkest-red); 
    color: var(--bond-white);
}
#multiselect .multiselect-tag > i::before {
    color: var(--bond-white);
}

/* grids */
.smol-flexbox-grid {
    --min: 40ch;
    --gap: 1rem;

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

.smol-flexbox-grid > * {
    flex: 1 1 var(--min);
}

.smol-css-grid {
    --min: 15ch;
    --gap: 1rem;

    display: grid;
    grid-gap: var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
}

/* Font weights */
strong, h1, h2, h3, h4, .b {
    font-weight: bold;
}

.bond-link {
    text-underline-position: under;
    text-decoration-style: dashed;
}
.bond-link:hover {
    text-underline-position: under;
    text-decoration-style: solid;
}

.bond-link-hover:hover {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-style: dashed;
}

.sr-only {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

/* Amendments for accessibility */
.grow:focus-within {
  transform: scale(1.05);
}

/* Header and footer */
header, footer {
    font-weight: bold;
}
header .btn, 
footer .btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

header h1, header h2, header h3, header h4, header h5, header h6,
footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
    margin: 0;
}

nav#site-navigation .menu > li a {
    cursor: pointer;
}

.menu-toggle {  
    box-shadow: none;
    border: 1px solid;
    border-color: #560014;
    border-radius: 3px;
    color: #FFFFFF;
    line-height: 1.3;
    padding: 10px 20px;
    transition: 0.3s border-color;
    transition: 0.3s background-color;
    cursor: pointer;
}